body {
  overflow: hidden;
  background: linear-gradient(to left, #ef3258, #4863eb);
  font-family: calibri;
}

#tetris {
  position: relative;
  text-align: left;
  width: 360px;
  padding: 20px;
  margin: auto; 
  background: rgba(255, 255, 255, 0.45);
  opacity: 0.8;
  border-radius: 5%;
  backdrop-filter: blur(10px);
}

#canvas {
  width: 100%;
  max-width: 200px;
  height: 440px;
  background-color: #000;
  position: relative;
  color: #1c2833;
  border-radius: 5px;
}

#canvas h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  padding-top: 200px;
  color: #1c2833;
}

#canvas h2 {
  text-align: center;
} 

.piece {
  border: 1px solid white;
  position: absolute;
}

#start, #pause {
  width: 60px;
  height: 30px;
}

.name-box, .buttons {
  width: 100%;
  max-width: 134px;
  margin-top: 20px;
}

.square {
  width: 19px;
  height: 19px;
  border: 1px solid black;
  border-radius: 20%;
}

#next_shape {
  width: 100%;
  max-width: 115px;
  height: 110px;
  border-radius: 10px;
}

#info {
  width: 100%;
  max-width: 115px;
  height: 260px;
  padding: 10px;
  border-radius: 15px;
}

.foot {  
  border-radius: 10px;
  height: 60px; 
  bottom: -20px;
  width: 100%;  
  text-align: center;
  line-height: 60px;
}  

.foot h4 {
  color:#26062b;
  text-decoration: none;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  #tetris {
    width: 50%;
  }
}

@media only screen and (min-width: 900px) {
  #tetris {
    width: 30%;
  }
}
