
body {
  overflow: hidden;
  background-image: linear-gradient(to left, #ef3258, #4863eb);
  height: auto;
  width: auto;
  font-family: calibri;	
}
/* main window */
#tetris {
  position: relative;
	text-align: left;
  width: 360px;
  height: 100%;
  padding: 20px;
  margin: auto; 
  background: rgba(255, 255, 255, 0.45);
  opacity: 0.8;
  border-radius: 5%;
  backdrop-filter: blur(10px);
/* border: 2px solid white; */

}

/* player window */
#canvas {
  width: 200px;
  height: 440px;
  background-color: #000;
  position: relative;
  color: #1c2833;
  border-radius: 5px;
/* border: 3px solid #fff; */
}

/* Game Over Text */
#canvas h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  padding-top: 200px;
  color: #1c2833;
}

#canvas h2 {
  text-align: center;
} 

#canvas a {
  color: #1c2833;
  text-decoration: none;
}

#canvas a:hover {
  color: #819cb1;
}
.piece {
  border: 1px solid white;
  position: absolute;
}

/* start button */
#start{
  /* animation: blink .7s steps(2, start) infinite; */
  background: linear-gradient(to right, #4c1c5f, #28032d);
  border-radius: 9px;
  border: none;
  color: #f8f3f9;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  width:60px;
  height: 30px;
  transition: .3s linear;
}

#start:hover {
  background: linear-gradient(to left, #27AE60, #A9DFBF);
  color: #28032d;
  font-weight: 400;
  animation-delay: .1s;
}

/* pause button */
#pause{
  /* animation: blink .7s steps(2, start) infinite; */
  background: linear-gradient(to right, #4c1c5f, #28032d);
  border-radius: 9px;
  border: none;
  color: #f8f3f9;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  width: 60px;
  height: 30px;
  transition: .3s linear;
}
#pause:hover {
  background: linear-gradient(to left, #F1C40F, #F9E79F);
  color: #28032d;
  animation-delay: .1s;
  font-weight: 400;
}
/*
@keyframes blink {
  to {
    outline: #E1FF5F solid 1px;
  }
}
*/

.name-box {
	width: 134px;
  height: 90px;
  float: right;
  display: column;
  margin-top: -90px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  text-align: center;
  backdrop-filter: blur(0px);
/* border: 3px solid #fff; */
}

.name-box h1 {
  color: #27062ccf; 
  padding-top: 12px; 
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
}
.name-box p {
  color: #26062bc0;  
  margin: auto;
}
.buttons {
	width: 134px;
	text-align: center;
  height: 40px;
  float: right;
  margin-top: -150px;
  padding-top: 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 13px;
  backdrop-filter: blur(0px);
 /* border: 3px solid #fff; */  
}

/* block */
.square {
  position: absolute;
  width: 19px;
  height: 19px;
  border: 1px solid black;
  border-radius: 20%;
}

/* T */
.type0 {
  background-color: #9b59b6;
}
/* Flat */
.type1 {
  background-color: #aed6f1;
}
/* L Reverse */
.type2 {
  background-color: #e67e22;
}
/* L */
.type3 {
  background-color: #2980b9;
}
/* S */
.type4 {
  background-color: #27ae60;
}
/* S reverse */
.type5 {
  background-color: #c0392b;
}
/* square */
.type6 {
  background-color: #f1c40f;
}

/* next shape window */
#next_shape {
	position: relative; 
  background-color: #000;
  width: 115px;
  height: 110px;
	border-radius: 10px;
	justify-content: center;
/* border: 3px solid #fff; */
}

/* side panel */
#info {
	position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  color: #1c2833;
  float: right;
  width: 115px;
  height: 260px;
  padding: 10px;
	border-radius: 15px;
  backdrop-filter: blur(0px);
/* border: 3px solid #fff; */  
/* margin-top: 115px; */ 
}

/* 
#next_container {
  background-color: #000;
  color: #fff;
  float: right;
  width: 115px;
  height: 110px;
  padding: 10px;
  border: 3px solid #fff;
}
*/

.foot {  
  border-radius:10px;
  position: relative;  
  /* left: 10px; */
  height: 60px; 
  bottom: -20px;
  /* right: 0px; */   
  width: 100%;  
  background: rgba(255, 255, 255, 0.45);
  text-align: center;
  line-height: 60px;
  backdrop-filter: blur(1px);
}  
 .foot h4 {
  color:#26062b;
  text-decoration: none;
 }

 .foot h4 a{
  color: #26062b;
  text-decoration: none;
 }

 .foot h4 a:hover {
  color: #7d2d8a;
 }
